#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>Policy for tpm-setup</summary>

########################################
## <summary>
##	Role access for tpm-setup
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`tpmsetup_role',`
	gen_require(`
		type tpmsetup_t, tpmsetup_exec_t;
	')

	role $1 types tpmsetup_t;

	# Transition from the user domain to the derived domain.
	domtrans_pattern($2, tpmsetup_exec_t, tpmsetup_t)
	tcsd_initrc_domtrans(tpmsetup_t, $1)
')

#####################################
## <summary>
##	Allow read and write access to tpmsetup semaphores.
##      Added for dmsetup (lvm_t) run by tpmsetup.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`tpmsetup_rw_semaphores',`
	gen_require(`
		type tpmsetup_t;
	')

	allow $1 tpmsetup_t:sem rw_sem_perms;
')
