#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(getedid, 1.5.0)

########################################
#
# Declarations
#

type getedid_t;
type getedid_exec_t;
init_system_domain(getedid_t, getedid_exec_t)

type getedid_tmp_t;
files_tmp_file(getedid_tmp_t)
files_tmp_filetrans(getedid_t, getedid_tmp_t, { dir file })

########################################
#
# Local policy
#
domain_mmap_low(getedid_t)
allow getedid_t self:unix_dgram_socket { create_socket_perms sendto };
allow getedid_t   self:capability { sys_admin };
allow getedid_t getedid_tmp_t:dir  manage_dir_perms;
allow getedid_t getedid_tmp_t:file manage_file_perms;

dev_rwx_zero(getedid_t)
dev_wx_raw_memory(getedid_t)
dev_read_raw_memory(getedid_t)
dev_search_sysfs(getedid_t)
dev_read_sysfs(getedid_t)
dev_rw_sysfs(getedid_t)

files_search_tmp(getedid_t)

libs_legacy_use_shared_libs(getedid_t)
logging_send_syslog_msg(getedid_t)

seutil_use_newrole_fds(getedid_t)
userdom_use_user_ptys(getedid_t)

# Generate data for statusreport
statusreport_write_storage_files(getedid_t)
statusreport_getattr_storage_files(getedid_t)
statusreport_write_tmp_files(getedid_t)
statusreport_getattr_tmp_files(getedid_t)

