#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(statusreport, 1.0)

########################################
#
# Declarations

type statusreport_t;
type statusreport_exec_t;
application_domain(statusreport_t, statusreport_exec_t)

type statusreport_storage_t;
files_type(statusreport_storage_t);

type statusreport_tmp_t;
files_tmp_file(statusreport_tmp_t)
files_tmp_filetrans(statusreport_t, statusreport_tmp_t, { dir file })

role system_r types statusreport_t;

optional_policy(`
        unconfined_readonly_domain(statusreport_t)
')

################################
#
#  Local Policy
#
allow statusreport_t statusreport_tmp_t:dir  manage_dir_perms;
allow statusreport_t statusreport_tmp_t:file manage_file_perms;
allow statusreport_t statusreport_storage_t:dir  manage_dir_perms;
allow statusreport_t statusreport_storage_t:file manage_file_perms;

allow statusreport_t self:process { getsched setpgid signal };
allow statusreport_t self:fifo_file rw_fifo_file_perms;
allow statusreport_t self:capability { sys_admin setgid sys_rawio ipc_lock dac_override sys_ptrace setuid net_admin net_raw };

# statusreport uses a large number of tools
# to obtain various stats
statusreport_exec(statusreport_t)
corecmd_exec_bin(statusreport_t)
corecmd_exec_shell(statusreport_t)
corecmd_exec_all_executables(statusreport_t)

seutil_use_newrole_fds(statusreport_t)
xc_storage_filetrans(statusreport_t,statusreport_storage_t,{ file dir })

# Allow statusreport to transition to respective domains
# to obtain various stats
mount_domtrans(statusreport_t)
vhdutil_domtrans(statusreport_t)
alsa_domtrans(statusreport_t)
xentop_domtrans(statusreport_t)
tpmutil_domtrans(statusreport_t)
xec_domtrans(statusreport_t)
modutils_domtrans_insmod(statusreport_t)
netutils_domtrans_ping(statusreport_t)
ssh_domtrans(statusreport_t)
lvm_domtrans(statusreport_t)
lsusb_domtrans(statusreport_t)
vgmch_domtrans(statusreport_t)
txtstat_domtrans(statusreport_t)
dmidecode_domtrans(statusreport_t)
sysnet_domtrans_ifconfig(statusreport_t)
fstools_domtrans(statusreport_t)
dmesg_domtrans(statusreport_t)
getedid_domtrans(statusreport_t)

# DBUS policies for status-report
rpcproxy_websockets_dbus_chat(statusreport_t)
surfman_dbus_chat(statusreport_t)
vusbd_dbus_chat(statusreport_t)

# Permission for amixer
dev_write_sound(statusreport_t)

kernel_read_xen_state(statusreport_t)
kernel_write_xen_state(statusreport_t)
kernel_read_sysctl(statusreport_t)

userdom_use_user_ptys(statusreport_t)

xc_files_rw_v4v_chr(statusreport_t)
xen_stream_connect_xenstore(statusreport_t)
