#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(sysutils, 0.1)

########################################
#
# Declarations
#

type lsusb_t;
type lsusb_exec_t;
application_domain(lsusb_t, lsusb_exec_t)

########################################
#
# lsusb Local policy
#

allow lsusb_t self:fifo_file rw_fifo_file_perms;

vusbd_read_etc_files(lsusb_t)
dev_read_generic_usb_dev(lsusb_t)
dev_read_sysfs(lsusb_t)
dev_read_usbfs(lsusb_t)
dev_search_usbfs(lsusb_t)
userdom_use_user_ptys(lsusb_t)
seutil_use_newrole_fds(lsusb_t)

# Generate data for status-report
statusreport_getattr_storage_files(lsusb_t)
statusreport_write_storage_files(lsusb_t)
