#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(txtstat, 0.1)

########################################
#
# Declarations
#

type txtstat_t;
type txtstat_exec_t;
application_domain(txtstat_t, txtstat_exec_t)

########################################
#
# txt-stat Local policy
#

dev_read_raw_memory(txtstat_t)
txtstat_exec(txtstat_t)
seutil_use_newrole_fds(txtstat_t)
userdom_use_user_ptys(txtstat_t)

# Generate data for statusreport
statusreport_write_storage_files(txtstat_t)
statusreport_getattr_storage_files(txtstat_t)
