#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(xc-config, 0.1)

# generic type for /config directory
type xc_config_t;
files_type(xc_config_t)
files_mountpoint(xc_config_t)

# type for /config/sec and mount points there in
type xc_config_sec_t;
files_type(xc_config_sec_t)
files_mountpoint(xc_config_sec_t)

# type for /config/sync and mount points there in
type xc_sync_client_config_t;
files_type(xc_sync_client_config_t)
files_mountpoint(xc_sync_client_config_t)

# type for etc files
type xc_etc_t;
files_type(xc_etc_t)

# type for v4v sockets
type v4v_t;
files_type(v4v_t)
dev_node(v4v_t)

# type for acpi video device
type xc_video_t;
dev_node(xc_video_t);

# type for fbtap character device
type xc_fbtap_t;
dev_node(xc_fbtap_t)

# type for generic /storage directory
type xc_storage_t;
files_type(xc_storage_t)
files_mountpoint(xc_storage_t)

# type for iso images
attribute xc_iso;
type xc_iso_t;
xc_iso_type(xc_iso_t)

# type for files backing client VM virtual disks
attribute xc_disk;
type xc_client_disk_t;
xc_disk_type(xc_client_disk_t)

# type for files backing service VM virtual disks
type xc_service_disk_t;
xc_disk_type(xc_service_disk_t)

# type for files backing sync client VM virtual disks
type xc_sync_client_disk_t;
xc_disk_type(xc_sync_client_disk_t)

# type for reserved space
type xc_reserved_t;
files_type(xc_reserved_t)

# type for NILF VM template files
type xc_nilf_t;
files_type(xc_nilf_t)

# type for /mnt/secure ramfs
type xc_secure_t;
files_type(xc_secure_t);
fs_type(xc_secure_t);
files_mountpoint(xc_secure_t);

type xc_config_key_t;
files_type(xc_config_key_t)

type xc_vhd_key_t;
files_type(xc_vhd_key_t)

type xc_install_t;
files_type(xc_install_t)

type xc_repo_config_t;
files_type(xc_repo_config_t)

type xc_repo_cert_t;
files_type(xc_repo_cert_t)

# var/lib/ovf files
type xc_ovf_var_lib_t;
files_type(xc_ovf_var_lib_t)
files_mountpoint(xc_ovf_var_lib_t)
