local.settings
repos
oeenv
*~
build/
sources/
depends.dot
task-depends.dot
manifest
patches/bitbake/*.APPLIED
repos_master
bitbake.lock
conf/local.conf
conf/sanity_info
Packages.filelist
pseudodone
tmp-eglibc
