[Desktop Entry]
Version=1.0
Icon=surf
Type=X-XFCE-Helper
Name=SurfV4V
StartupNotify=false
Exec=env INET_IS_V4V=1 LD_PRELOAD=/usr/lib/libv4v-1.0.so.0 surf -bdFgKnp 1.0.0.0
