[Desktop Entry]
Version=1.0
Icon=surf
Type=X-XFCE-Helper
Name=SurfArgo
StartupNotify=false
Exec=env INET_IS_ARGO=1 LD_PRELOAD=/usr/lib/libargo-1.0.so.0 surf -bdFgKnp 1.0.0.0
