########################################
## <summary>
##	Send and receive messages from
##	disman over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`disman_dbus_chat',`
	gen_require(`
		type disman_t;
		class dbus send_msg;
	')

	allow $1 disman_t:dbus send_msg;
	allow disman_t $1:dbus send_msg;
')

