#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(dm-agent, 0.2)

########################################
#
# Declarations
#

type dm_agent_t;
type dm_agent_exec_t;
init_daemon_domain(dm_agent_t, dm_agent_exec_t)
ifdef(`enable_mcs',`
	init_ranged_daemon_domain(dm_agent_t, dm_agent_exec_t, s0 - mcs_systemhigh)
')

type dm_agent_var_run_t;
files_pid_file(dm_agent_var_run_t)
files_pid_filetrans(dm_agent_t, dm_agent_var_run_t, file)

#######################################
#
# DM Agent Local Policy
#
logging_send_syslog_msg(dm_agent_t)
kernel_read_xen_state(dm_agent_t)
kernel_write_xen_state(dm_agent_t)
xc_files_rw_v4v_chr(dm_agent_t)
xen_stream_connect_xenstore(dm_agent_t)
qemu_domtrans(dm_agent_t)
qemu_signal(dm_agent_t)
corecmd_search_bin(dm_agent_t)
corecmd_exec_bin(dm_agent_t)
corecmd_read_bin_files(dm_agent_t)
corecmd_exec_shell(dm_agent_t)
virt_domtrans(dm_agent_t)

allow dm_agent_t self:capability { dac_override ipc_lock };
allow dm_agent_t self:fifo_file rw_fifo_file_perms;
allow dm_agent_t self:process signal;
allow dm_agent_t dm_agent_var_run_t:file manage_file_perms;
