#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(input-server, 0.1)

########################################
#
# Declarations
#
type input_server_t;
type input_server_exec_t;
init_daemon_domain(input_server_t, input_server_exec_t)

type input_server_config_t;
files_config_file(input_server_config_t)
xc_config_filetrans(input_server_t, input_server_config_t, file)

type input_server_tmp_t;
files_tmp_file(input_server_tmp_t)
files_tmp_filetrans(input_server_t, input_server_tmp_t, { file sock_file })

type input_server_var_run_t;
files_pid_file(input_server_var_run_t)
files_pid_filetrans(input_server_t, input_server_var_run_t, sock_file)

#######################################
#
# Input Server Local Policy
#
dbus_connect_system_bus(input_server_t)
dbus_system_bus_client(input_server_t)
dbd_dbus_chat(input_server_t)
surfman_dbus_chat(input_server_t)
xenpmd_dbus_chat(input_server_t)
xc_config_files_read(input_server_t)
xc_files_rw_v4v_chr(input_server_t)
libs_use_ld_so(input_server_t)
fs_rw_xenfs_files(input_server_t)
dev_search_sysfs(input_server_t)
dev_rw_input_dev(input_server_t)
dev_rw_xen(input_server_t)
logging_send_syslog_msg(input_server_t)
kernel_read_system_state(input_server_t)
kernel_read_xen_state(input_server_t)
kernel_write_xen_state(input_server_t)
files_read_etc_files(input_server_t)
loadkeys_domtrans(input_server_t)
corecmd_exec_bin(input_server_t)
files_read_usr_files(input_server_t)
miscfiles_read_localization(input_server_t)
xen_stream_connect_xenstore(input_server_t)
udev_search_pids(input_server_t)

# local auth setup
corecmd_exec_shell(input_server_t)
lvm_domtrans(input_server_t)
fstools_domtrans(input_server_t)
kernel_read_system_state(input_server_t)
mount_domtrans(input_server_t)
seutil_domtrans_setfiles(input_server_t)
storage_getattr_fixed_disk_dev(input_server_t)
xc_manage_config_sec_dirs(input_server_t)
xc_manage_config_sec_files(input_server_t)

# For secure authentication
term_use_unallocated_ttys(input_server_t)
files_search_mnt(input_server_t)
xc_secure_files_manage(input_server_t)

# Early devtmpfs, before udev relabel
dev_dontaudit_rw_generic_chr_files(input_server_t)

allow input_server_t self:fifo_file manage_fifo_file_perms;
allow input_server_t self:capability { dac_override ipc_lock sys_tty_config };
allow input_server_t self:netlink_kobject_uevent_socket create_socket_perms;
allow input_server_t self:process getsched;
allow input_server_t input_server_config_t:file manage_file_perms;
allow input_server_t input_server_tmp_t:file manage_file_perms;
allow input_server_t input_server_tmp_t:sock_file manage_sock_file_perms;
allow input_server_t input_server_var_run_t:sock_file manage_sock_file_perms;
