#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(language-sync, 0.1)

########################################
#
# Declarations
#

type language_sync_t;
type language_sync_exec_t;
init_daemon_domain(language_sync_t, language_sync_exec_t)

type language_conf_t;
files_type(language_conf_t)
xc_config_key_filetrans(language_sync_t, language_conf_t, file)
xc_config_filetrans(language_sync_t, language_conf_t, { file lnk_file })

corecmd_exec_bin(language_sync_t)
corecmd_exec_shell(language_sync_t)
dbus_connect_system_bus(language_sync_t)
dbus_system_bus_client(language_sync_t)
dbd_dbus_chat(language_sync_t)
dev_read_sysfs(language_sync_t)
files_read_etc_files(language_sync_t)
files_read_usr_files(language_sync_t)
files_manage_boot_files(language_sync_t)
files_search_boot(language_sync_t)
fs_dontaudit_getattr_xattr_fs(language_sync_t)
kernel_read_system_state(language_sync_t)
seutil_domtrans_setfiles(language_sync_t)
xc_search_config_dirs(language_sync_t)
xc_config_key_dir_search(language_sync_t)

xec_domtrans(language_sync_t)
xen_dbus_chat(language_sync_t)

allow language_sync_t self:fifo_file manage_fifo_file_perms;
allow language_sync_t language_conf_t:file manage_file_perms;
allow language_sync_t language_conf_t:lnk_file manage_lnk_file_perms;
