
#######################################
## <summary>
##	Exchange messages with base rpcbroker instance over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with rpc-broker over dbus.
##	</summary>
## </param>
#
interface(`rpcbroker_dbus_chat',`
	gen_require(`
		type rpcbroker_t;
		class dbus send_msg;
	')

	allow $1 rpcbroker_t:dbus	send_msg;
	allow rpcbroker_t $1:dbus	send_msg;
')

#######################################
## <summary>
##	Exchange messages with rpcbroker websockets instance over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with rpc-broker over dbus.
##	</summary>
## </param>
#
interface(`rpcbroker_websockets_dbus_chat',`
	gen_require(`
		type rpcbroker_websockets_t;
		class dbus send_msg;
	')

	allow $1 rpcbroker_websockets_t:dbus	send_msg;
	allow rpcbroker_websockets_t $1:dbus	send_msg;
')
