#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(uid, 0.1)

type uid_t;
type uid_exec_t;

init_daemon_domain(uid_t, uid_exec_t);

type uid_tmp_t;
files_tmp_file(uid_tmp_t)
files_tmp_filetrans(uid_t, uid_tmp_t, file)

type uid_etc_t;
files_config_file(uid_etc_t)

allow uid_t uid_etc_t:file read_file_perms;

dbus_connect_system_bus(uid_t)
dbus_system_bus_client(uid_t)
vusbd_dbus_chat(uid_t)
surfman_dbus_chat(uid_t)
xen_dbus_chat(uid_t)
optional_policy('
	hal_dbus_chat(uid_t)
')
input_server_dbus_chat(uid_t)
rpcproxy_websockets_dbus_chat(uid_t)

xc_files_rw_v4v_chr(uid_t)
# consider DONTAUDIT
xc_getattr_service_disk_dir(uid_t)
xc_search_storage(uid_t)

xen_stream_connect_xenstore(uid_t)
logging_send_syslog_msg(uid_t)

corecmd_search_bin(uid_t)
