#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(updatemgr, 0.1)

########################################
#
# Declarations
#
type updatemgr_t;
type updatemgr_exec_t;
init_daemon_domain(updatemgr_t, updatemgr_exec_t)
ifdef(`enable_mcs',`
	init_ranged_daemon_domain(updatemgr_t, updatemgr_exec_t, s0 - mcs_systemhigh)
')

type updatemgr_storage_t;
files_type(updatemgr_storage_t)
xc_storage_filetrans(updatemgr_t, updatemgr_storage_t, dir)

type updatemgr_tmp_t;
files_tmp_file(updatemgr_tmp_t)
files_tmp_filetrans(updatemgr_t, updatemgr_tmp_t, file)

type updatemgr_sync_client_storage_t;
files_type(updatemgr_sync_client_storage_t)

#######################################
#
# updatemgr daemon local policy
#
auth_use_nsswitch(updatemgr_t)
corecmd_exec_bin(updatemgr_t)
corecmd_exec_shell(updatemgr_t)
corenet_tcp_connect_http_port(updatemgr_t)
dbus_system_bus_client(updatemgr_t)
dbus_send_system_bus(updatemgr_t)
dbus_connect_system_bus(updatemgr_t)
files_dontaudit_search_home(updatemgr_t)
fs_list_inotifyfs(updatemgr_t)
# openssl reads meminfo
kernel_read_system_state(updatemgr_t)
kernel_read_vm_overcommit_sysctl(updatemgr_t)
logging_send_syslog_msg(updatemgr_t)

dbd_dbus_chat(updatemgr_t)
uid_dbus_chat(updatemgr_t)
xc_installer_delete(updatemgr_t)
xc_installer_domtrans(updatemgr_t)
xc_read_etc_files(updatemgr_t)
xc_search_storage(updatemgr_t)
xc_read_repo_cert_file(updatemgr_t)
xc_read_repo_config_file(updatemgr_t)
xen_dbus_chat(updatemgr_t)
dev_read_urand(updatemgr_t)

allow updatemgr_t self:process { execmem signal };
allow updatemgr_t self:fifo_file rw_fifo_file_perms;

allow updatemgr_t updatemgr_storage_t:dir manage_dir_perms;
allow updatemgr_t updatemgr_storage_t:file manage_file_perms;
allow updatemgr_t updatemgr_storage_t:lnk_file read_lnk_file_perms;
allow updatemgr_t updatemgr_sync_client_storage_t:dir manage_dir_perms;
allow updatemgr_t updatemgr_sync_client_storage_t:file manage_file_perms;

allow updatemgr_t updatemgr_tmp_t:file manage_file_perms;
allow updatemgr_t self:capability { dac_override chown fowner fsetid };

kernel_request_load_module(updatemgr_t)

# openssl need to check certificates.
miscfiles_read_generic_certs(updatemgr_t)
