#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>Policy for vusb.</summary>

#######################################
## <summary>
##     Execute vusb client in the vusbc_t domain.
## </summary>
## <param name="domain">
##     <summary>
##     The type of the process forking vusb.
##     </summary>
## </param>
#
interface(`vusbc_exec_domtrans',`
       gen_require(`
               type vusbc_t, vusbc_exec_t;
       ')
       
       domtrans_pattern($1, vusbc_exec_t, vusbc_t)
')

#######################################
## <summary>
##	Exchange messages with vusb over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with vusb over dbus.
##	</summary>
## </param>
#
interface(`vusbd_dbus_chat',`
	gen_require(`
		type vusbd_t;
		class dbus send_msg;
	')
	
	allow $1 vusbd_t:dbus	send_msg;
	allow vusbd_t $1:dbus	send_msg;
')

#######################################
## <summary>
##	Send messages to vusb over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process sending messages.
##	</summary>
## </param>
#
interface(`vusbd_dbus_send',`
	gen_require(`
		type vusbd_t;
		class dbus send_msg;
	')
	
	allow $1 vusbd_t:dbus	send_msg;
')

#######################################
## <summary>
##    Read generic vusb files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`vusbd_read_files',`
	gen_require(`
		type vusbd_t;
	')
	
        allow $1 vusbd_t:file read_file_perms;
')

#######################################
## <summary>
##    Read generic vusb links.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`vusbd_read_links',`
	gen_require(`
		type vusbd_t;
	')
	
        allow $1 vusbd_t:lnk_file read_lnk_file_perms;
')

#######################################
## <summary>
##    Search generic vusb directories.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`vusbd_search_dirs',`
	gen_require(`
		type vusbd_t;
	')
	
        allow $1 vusbd_t:dir search_dir_perms;
')

#######################################
## <summary>
##    Send signals to vusb process.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`vusbd_signal',`
	gen_require(`
		type vusbd_t;
	')
	
        allow $1 vusbd_t:process signal_perms;
')

#######################################
## <summary>
##    Read vusb configuration files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`vusbd_read_etc_files',`
	gen_require(`
		type vusbd_etc_t;
	')
	
        allow $1 vusbd_etc_t:file read_file_perms;
')
