#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(xenpmd, 0.1)

########################################
#
# Declarations
#

type xenpmd_t;
type xenpmd_exec_t;
init_daemon_domain(xenpmd_t, xenpmd_exec_t)

type xenpmd_var_t;
files_type(xenpmd_var_t);
files_var_filetrans(xenpmd_t, xenpmd_var_t, { file dir })

type xenpmd_var_run_t;
files_pid_file(xenpmd_var_run_t)
files_pid_filetrans(xenpmd_t, xenpmd_var_run_t, file)

type xenpmd_etc_t;
files_config_file(xenpmd_etc_t)

########################################
#
# xenpmd local policy
#

dbus_system_bus_client(xenpmd_t)
dbus_connect_system_bus(xenpmd_t)
dbus_send_system_bus(xenpmd_t)
uid_dbus_chat(xenpmd_t)
surfman_dbus_chat(xenpmd_t)
rpcproxy_websockets_dbus_chat(xenpmd_t)
dbd_dbus_chat(xenpmd_t)

apm_stream_connect(xenpmd_t)
dev_rw_sysfs(xenpmd_t)
dev_rw_xen(xenpmd_t)
dev_read_raw_memory(xenpmd_t)
files_read_etc_files(xenpmd_t)
kernel_read_system_state(xenpmd_t)
kernel_read_xen_state(xenpmd_t)
kernel_write_xen_state(xenpmd_t)
kernel_search_network_state(xenpmd_t)
kernel_read_network_state(xenpmd_t)
miscfiles_read_localization(xenpmd_t)
logging_send_syslog_msg(xenpmd_t)
xc_read_video_device(xenpmd_t)
xen_stream_connect_xenstore(xenpmd_t)
xen_dbus_send(xenpmd_t)
fs_rw_xenfs_files(xenpmd_t)

allow xenpmd_t self:capability { dac_override ipc_lock sys_rawio sys_admin };
allow xenpmd_t self:fifo_file rw_fifo_file_perms;
allow xenpmd_t self:process { getsched signal };
allow xenpmd_t self:netlink_socket create_socket_perms;
allow xenpmd_t xenpmd_var_t:dir manage_dir_perms;
allow xenpmd_t xenpmd_var_t:file manage_file_perms;
allow xenpmd_t xenpmd_var_run_t:file manage_file_perms;
allow xenpmd_t xenpmd_etc_t:dir list_dir_perms;
allow xenpmd_t xenpmd_etc_t:file read_file_perms;

# allow XCPMD to receive messages from xenmgr
xenpmd_dbus_chat(xend_t)
