#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary> Tools to retrieve and interpret monitor specifications using the VESA VBE DDC protocol</summary>

########################################
## <summary>
##      Execute get-edid application in the getedid domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`getedid_domtrans',`
        gen_require(`
                type getedid_t, getedid_exec_t;
        ')

        corecmd_search_bin($1)
        domtrans_pattern($1, getedid_exec_t, getedid_t)
')

########################################
## <summary>
##      Execute get-edid in the getedid domain, and
##      allow the specified role in the getedid domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      The role to be allowed the vbetool domain.
##      </summary>
## </param>
#
interface(`getedid_run',`
        gen_require(`
                type getedid_t;
        ')

        getedid_domtrans($1)
        role $2 types getedid_t;
')
