#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

########################################
## <summary>
##      Execute statusreport command in the statusreport domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_domtrans',`
        gen_require(`
                type statusreport_t, statusreport_exec_t;
        ')

        domtrans_pattern($1, statusreport_exec_t, statusreport_t)
')

########################################
## <summary>
##      Execute statusreport command in the statusreport_t domain and
##      allow the specified role in the statusreport_t domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      The role to allow the status_t domain.
##      </summary>
## </param>
#
interface(`statusreport_run',`
        gen_require(`
                type statusreport_t;
        ')

        statusreport_domtrans($1)
        role $2 types statusreport_t;
')

########################################
## <summary>
##     Getattr status-report storage file.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_getattr_storage_files',`
        gen_require(`
                type statusreport_storage_t;
        ')

        allow $1 statusreport_storage_t:file getattr_file_perms;
')

########################################
## <summary>
##      Write status-report storage files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_write_storage_files',`
        gen_require(`
                type statusreport_storage_t;
        ')

        write_files_pattern($1, statusreport_storage_t, statusreport_storage_t)
')

########################################
## <summary>
##     Getattr status-report tmp file.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_getattr_tmp_files',`
        gen_require(`
                type statusreport_tmp_t;
        ')

        allow $1 statusreport_tmp_t:file getattr_file_perms;
')

########################################
## <summary>
##      Write status-report tmp files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_write_tmp_files',`
        gen_require(`
                type statusreport_tmp_t;
        ')

        write_files_pattern($1, statusreport_tmp_t, statusreport_tmp_t)
')

########################################
## <summary>
##      Create status-report tmp files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_create_tmp_files',`
        gen_require(`
                type statusreport_tmp_t;
        ')

        create_files_pattern($1, statusreport_tmp_t, statusreport_tmp_t)
')

#######################################
## <summary>
##      Write status-report tmp dir.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`statusreport_manage_tmp_dir',`
        gen_require(`
                type statusreport_tmp_t;
        ')

        manage_dirs_pattern($1, statusreport_tmp_t, statusreport_tmp_t)
')

########################################
## <summary>
##      Execute status-report utility programs in the callers domain.
## </summary>
## <param name="domain">
##      <summary>
##      The type of the process performing this action.
##      </summary>
## </param>
interface(`statusreport_exec',`
        gen_require(`
                type statusreport_exec_t;
        ')

        files_search_usr($1)
        corecmd_search_bin($1)
        can_exec($1, statusreport_exec_t)
')
