#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(vhdutils, 0.1)

########################################
#
# Declarations
#

type vhdutil_t;
type vhdutil_exec_t;
application_domain(vhdutil_t, vhdutil_exec_t)
role system_r types vhdutil_t;

########################################
#
# vhdutil Local policy
#

allow vhdutil_t self:fifo_file rw_fifo_file_perms;
allow vhdutil_t self:process getsched;

corecmd_exec_bin(vhdutil_t)
corecmd_exec_shell(vhdutil_t)
blktap_rw_blk_file(vhdutil_t)
dev_read_urand(vhdutil_t)
dev_read_rand(vhdutil_t)
dev_rw_sysfs(vhdutil_t)
files_manage_generic_tmp_dirs(vhdutil_t)
files_manage_generic_tmp_files(vhdutil_t)
fs_getattr_tmpfs(vhdutil_t)
fs_getattr_xattr_fs(vhdutil_t)
files_dontaudit_getattr_boot_dirs(vhdutil_t)
files_dontaudit_getattr_default_dirs(vhdutil_t)
files_dontaudit_getattr_default_symlinks(vhdutil_t)
files_dontaudit_getattr_mnt_dirs(vhdutil_t)
files_dontaudit_getattr_tmp_dirs(vhdutil_t)
# Read /proc/meminfo
kernel_read_system_state(vhdutil_t)
lvm_domtrans(vhdutil_t)
miscfiles_read_localization(vhdutil_t)
seutil_use_newrole_fds(vhdutil_t)
storage_raw_read_fixed_disk(vhdutil_t)
storage_raw_write_fixed_disk(vhdutil_t)
tapctl_domtrans(vhdutil_t)
userdom_search_user_home_content(vhdutil_t)
userdom_use_user_ptys(vhdutil_t)
vhdutil_exec(vhdutil_t)
xc_dontaudit_getattr_iso_dirs(vhdutil_t)
xc_dontaudit_getattr_reserved_files(vhdutil_t)
xc_manage_all_disks(vhdutil_t)
xc_list_storage(vhdutil_t)
xc_search_vhd_key_dirs(vhdutil_t)
xc_read_vhd_key_files(vhdutil_t)
xc_read_sync_client_config_files(vhdutil_t)
xc_create_storage_files(vhdutil_t)
xc_write_storage_files(vhdutil_t)
xmlstore_dontaudit_getattr_doc_dirs(vhdutil_t)
xc_read_iso_files(vhdutil_t)

# Generate data for statusreport.
statusreport_write_storage_files(vhdutil_t)
statusreport_write_tmp_files(vhdutil_t)
statusreport_getattr_storage_files(vhdutil_t)
statusreport_getattr_tmp_files(vhdutil_t)

# Log to syslog.
logging_send_syslog_msg(vhdutil_t)
