#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>Utility to display TXT information.</summary>

########################################
## <summary>
##	Execute txt-stat in the txtstat_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`txtstat_domtrans',`
	gen_require(`
		type txtstat_t, txtstat_exec_t;
	')

	files_search_usr($1)
	corecmd_search_bin($1)
	domtrans_pattern($1, txtstat_exec_t, txtstat_t)
')

########################################
## <summary>
##	Execute txtstat in the txtstat_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the txtstat_t domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`txtstat_run',`
	gen_require(`
		type txtstat_t;
	')

	txtstat_domtrans($1)
	role $2 types txtstat_t;
')
########################################
## <summary>
##      Execute txt-stat utility programs in the callers domain.
## </summary>
## <param name="domain">
##      <summary>
##      The type of the process performing this action.
##      </summary>
## </param>
interface(`txtstat_exec',`
        gen_require(`
                type txtstat_exec_t;
        ')

        files_search_usr($1)
        corecmd_search_bin($1)
        can_exec($1, txtstat_exec_t)
')
                               
