#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(xsmutils, 0.1)

########################################
#
# Declarations
#

type xsmutil_t;
type xsmutil_exec_t;
application_domain(xsmutil_t, xsmutil_exec_t)

type xsmutil_config_t;
files_config_file(xsmutil_config_t)
xc_config_filetrans(xsmutil_t, xsmutil_config_t, file)

role system_r types xsmutil_t;
########################################
#
# xsmutils Local policy
#
seutil_use_newrole_fds(xsmutil_t)
fs_rw_xenfs_files(xsmutil_t)
userdom_use_user_ptys(xsmutil_t)

allow xsmutil_t xsmutil_config_t:file manage_file_perms;
allow xsmutil_t xsmutil_config_t:dir manage_dir_perms;
allow xsmutil_t self:capability { ipc_lock fsetid };
