#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>XenClient utility for something having to do with graphics?</summary>

########################################
## <summary>
##	Allow read access to gmch cache data.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vgmch_read_cache_files',`
	gen_require(`
		type vgmch_cache_t;
	')

	files_search_var($1)
	allow $1 vgmch_cache_t:file read_file_perms;
')

########################################
## <summary>
##      Execute gmch in the vgmch_t domain.
## </summary>
## <param name="domain">
##      <summary>
##      The type of the process performing this action.
##      </summary>
## </param>
#
interface(`vgmch_domtrans',`
        gen_require(`
                type vgmch_t, vgmch_exec_t;
        ')

        domtrans_pattern($1, vgmch_exec_t, vgmch_t)
')

########################################
## <summary>
##      Execute gmch command in the vgmch_t domain and
##      allow the specified role in the vgmch_t domain.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <param name="role">
##      <summary>
##      The role to allow the vgmch_t domain.
##      </summary>
## </param>
interface(`vgmch_run',`
        gen_require(`
                type vgmch_t;
        ')

        vgmch_domtrans($1)
        role $2 types vgmch_t;
')

