#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(xc-installer, 0.1)

########################################
#
# Declarations
#

type xc_installer_t;
domain_type(xc_installer_t)
files_type(xc_installer_t)

role system_r types xc_installer_t;

type xc_installer_exec_t;
files_type(xc_installer_exec_t)
application_domain(xc_installer_t, xc_installer_exec_t)

type xc_installer_storage_t;
files_type(xc_installer_storage_t)

type xc_installer_tmp_t;
files_tmp_file(xc_installer_tmp_t)
files_tmp_filetrans(xc_installer_t, xc_installer_tmp_t, { dir file })

type xc_installer_tmpfs_t;
files_mountpoint(xc_installer_tmpfs_t)
files_tmpfs_file(xc_installer_tmpfs_t)
fs_tmpfs_filetrans(xc_installer_t, xc_installer_tmpfs_t, { dir file })

#######################################
#
# xc_installer local policy
#

updatemgr_dontaudit_rw_stream_sockets(xc_installer_t)
corecmd_exec_bin(xc_installer_t)
modutils_domtrans_depmod(xc_installer_t)
dpkg_domtrans(xc_installer_t)
fstools_domtrans(xc_installer_t)
kernel_read_system_state(xc_installer_t)
lvm_domtrans(xc_installer_t)
files_manage_mnt_dirs(xc_installer_t)
miscfiles_read_localization(xc_installer_t)
miscfiles_relabel_localization(xc_installer_t)
mount_domtrans(xc_installer_t)
seutil_domtrans_loadpolicy(xc_installer_t)
seutil_domtrans_semanage(xc_installer_t)
seutil_domtrans_setfiles(xc_installer_t)
tapctl_domtrans(xc_installer_t)
tapdisk_domtrans(xc_installer_t)
updatemgr_exec_update(xc_installer_t)
updatemgr_relabel_storage(xc_installer_t)
updatemgr_search_storage(xc_installer_t)
updatemgr_storage_filetrans(xc_installer_t, xc_installer_storage_t, dir)
xc_search_storage(xc_installer_t)

optional_policy(`
	unconfined_domain(xc_installer_t)
')

allow xc_installer_t self:fifo_file manage_fifo_file_perms;
allow xc_installer_t xc_installer_storage_t:dir manage_dir_perms;
allow xc_installer_t xc_installer_storage_t:file manage_file_perms;
allow xc_installer_t xc_installer_tmp_t:file manage_file_perms;
allow xc_installer_t xc_installer_tmp_t:dir manage_dir_perms;
allow xc_installer_t xc_installer_tmpfs_t:file manage_file_perms;
allow xc_installer_t xc_installer_tmpfs_t:dir manage_file_perms;
