Package: {{PACKAGE_NAME}}
Source: linux-2.6
Version: {{VERSION}}
Architecture: {{ARCH}}
Maintainer: {{DEB_PKG_MAINTAINER}}
Pre-Depends: debconf | debconf-2.0
Depends: module-init-tools, linux-base (>= 2.6.32-38), initramfs-tools (>= 0.55)
Provides: linux-image, linux-image-2.6
Section: kernel
Priority: optional
Description: {{DEB_SHORT_DESC}}
 {{DEB_LONG_DESC}}
