# nothing can be done by default
deny all

# allow conditional domstore (private db space) access
allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member read if-boolean domstore-read-access true
allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member read_binary if-boolean domstore-read-access true
allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member list if-boolean domstore-read-access true
allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member exists if-boolean domstore-read-access true

allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member write if-boolean domstore-write-access true
allow destination com.citrix.xenclient.db interface com.citrix.xenclient.db member rm if-boolean domstore-write-access true

# allow vms with usb-control property to talk to usb daemon
allow destination com.citrix.xenclient.usbdaemon if-boolean usb-control true

# allow syncvms to talk to xenmgr and to access their domstore
allow dom-type syncvm destination com.citrix.xenclient.db interface org.freedesktop.DBus.Introspectable member Introspect
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.vmdisk member attach_vhd
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr member list_vms
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.host member set_license
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.unrestricted member unrestricted_create_vm_with_template_and_json
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.unrestricted member unrestricted_create_vm
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.unrestricted member unrestricted_delete_vm
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member add_disk
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member add_v4v_firewall_rule
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member delete
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member delete_v4v_firewall_rule
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member destroy
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member list_disks
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member list_v4v_firewall_rules
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member get_domstore_key
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.xenmgr.vm member set_domstore_key
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface org.freedesktop.DBus.Introspectable member Introspect
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface org.freedesktop.DBus.Properties member Get
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface org.freedesktop.DBus.Properties member Set
allow dom-type syncvm interface com.citrix.xenclient.xenmgr.host member generic_message
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.vmdisk member umount
allow dom-type syncvm destination com.citrix.xenclient.xenmgr interface com.citrix.xenclient.vmdisk member delete

# allow all kinds of outgoing messages from dom0 to elsewhere
allow out-any
