## <summary>argo-input-sender</summary>

#######################################
## <summary>
##     Run and transition into the
##     argo_input_sender_t domain
## </summary>
## <param name="domain">
##     <summary>
##     The type of the process launching argo-input-sender
##     </summary>
## </param>
#
interface(`argo_input_sender_domtrans',`
	gen_require(`
		type argo_input_sender_t, argo_input_sender_exec_t;
		class dbus send_msg;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, argo_input_sender_exec_t, argo_input_sender_t)
')
