policy_module(disman, 0.1)

########################################
#
# Declarations
#

type disman_t;
type disman_exec_t;
init_daemon_domain(disman_t, disman_exec_t)

type disman_initrc_exec_t;
init_script_file(disman_initrc_exec_t)

type disman_var_run_t;
files_pid_file(disman_var_run_t)
init_daemon_pid_file(disman_var_run_t, file, "disman.pid")

type disman_script_t;
type disman_script_exec_t;
role system_r types disman_script_t;
application_domain(disman_script_t, disman_script_exec_t)

########################################
#
# Local policy
#

allow disman_t self:process { signal_perms };

files_read_usr_files(disman_t)

corecmd_search_bin(disman_t)

logging_send_syslog_msg(disman_t)

xen_dbus_chat(disman_t)

optional_policy(`
	dbus_system_bus_client(disman_t)
	dbus_connect_system_bus(disman_t)
	dbus_send_system_bus(disman_t)
')

optional_policy(`
	glass_dbus_chat(disman_t)
')

optional_policy(`
	xenpmd_dbus_chat(disman_t)
')

optional_policy(`
	dbd_dbus_chat(disman_t)
')

allow disman_script_t self:process { signal_perms };
allow disman_script_t self:unix_stream_socket { create_stream_socket_perms };

corecmd_exec_bin(disman_script_t);
corecmd_exec_shell(disman_script_t);

auth_use_nsswitch(disman_script_t);

udev_run_domain(disman_script_t, disman_script_exec_t)

optional_policy(`
	dbus_system_bus_client(disman_script_t)
	dbus_connect_system_bus(disman_script_t)
	dbus_send_system_bus(disman_script_t)
')

optional_policy(`
	disman_dbus_chat(disman_script_t)
')
