policy_module(glass, 0.1)

########################################
#
# Declarations
#

type glass_t;
type glass_exec_t;
init_daemon_domain(glass_t, glass_exec_t)

type glass_initrc_exec_t;
init_script_file(glass_initrc_exec_t)

type glass_etc_t;
files_config_file(glass_etc_t)

type glass_tmp_t;
userdom_user_tmp_file(glass_tmp_t)
userdom_user_runtime_content(glass_tmp_t)

type glass_var_run_t;
files_pid_file(glass_var_run_t)
init_daemon_pid_file(glass_var_run_t, file, "glass.pid")

type glass_tmpfs_t;
files_tmpfs_file(glass_tmpfs_t)

########################################
#
# Local policy
#

allow glass_t self:capability { sys_admin };
allow glass_t self:process { signal_perms };
allow glass_t self:netlink_kobject_uevent_socket { create_socket_perms };
allow glass_t self:fifo_file { rw_file_perms };

allow glass_t glass_etc_t:dir list_dir_perms;
read_files_pattern(glass_t, glass_etc_t, glass_etc_t)

manage_dirs_pattern(glass_t, glass_tmp_t, glass_tmp_t)
manage_files_pattern(glass_t, glass_tmp_t, glass_tmp_t)
manage_sock_files_pattern(glass_t, glass_tmp_t, glass_tmp_t)
files_tmp_filetrans(glass_t, glass_tmp_t, { dir })
userdom_user_runtime_filetrans(glass_t, glass_tmp_t, { dir })

allow glass_t glass_tmpfs_t:file { manage_file_perms map };
fs_tmpfs_filetrans(glass_t, glass_tmpfs_t, file)

kernel_request_load_module(glass_t)

corecmd_search_bin(glass_t)

dev_rw_dri(glass_t)
dev_read_sysfs(glass_t)
dev_rw_input_dev(glass_t)
dev_rw_xen(glass_t)
dev_rw_xenpriv(glass_t)
xen_rw_xenstore(glass_t)

files_read_usr_files(glass_t)

miscfiles_read_fonts(glass_t)

auth_use_nsswitch(glass_t)

logging_send_syslog_msg(glass_t)

xen_dbus_chat(glass_t)

optional_policy(`
	udev_read_db(glass_t)
	udev_read_pid_files(glass_t)
	udev_create_kobject_uevent_sockets(glass_t)
')

optional_policy(`
	dbus_system_bus_client(glass_t)
	dbus_connect_system_bus(glass_t)
	dbus_send_system_bus(glass_t)
')

optional_policy(`
	xen_stream_connect_xenstore(glass_t)
')

optional_policy(`
	ivcd_stream_connect(glass_t)
')

optional_policy(`
	disman_dbus_chat(glass_t)
')

optional_policy(`
	xc_config_files_read(glass_t)
	xc_search_storage(glass_t)
')

optional_policy(`
	dbd_dbus_chat(glass_t)
')

optional_policy(`
	xenpmd_dbus_chat(glass_t)
')

optional_policy(`
	rpcproxy_websockets_dbus_chat(glass_t)
')
