policy_module(ivcd, 0.1)

########################################
#
# Declarations
#

type ivcd_t;
type ivcd_exec_t;
init_daemon_domain(ivcd_t, ivcd_exec_t)

type ivcd_initrc_exec_t;
init_script_file(ivcd_initrc_exec_t)

type ivcd_var_run_t;
files_pid_file(ivcd_var_run_t)
init_daemon_pid_file(ivcd_var_run_t, file, "ivcdaemon.pid")

########################################
#
# Local policy
#

allow ivcd_t self:process { signal_perms };
allow ivcd_t self:fifo_file { rw_file_perms };
allow ivcd_t self:unix_stream_socket { create_stream_socket_perms };

manage_sock_files_pattern(ivcd_t, ivcd_var_run_t, ivcd_var_run_t)
files_pid_filetrans(ivcd_t, ivcd_var_run_t, { sock_file })

dev_rw_xen(ivcd_t)
xen_rw_xenstore(ivcd_t)

logging_send_syslog_msg(ivcd_t)

optional_policy(`
	xen_stream_connect_xenstore(ivcd_t)
')

