policy_module(bats, 0.1)

########################################
#
# Declarations
#

type bats_t;
type bats_exec_t;
init_system_domain(bats_t, bats_exec_t)

type bats_tmp_t;
files_tmp_file(bats_tmp_t)
files_tmp_filetrans(bats_t, bats_tmp_t, { file })

########################################
#
# Local Policy
#

allow bats_t self:fifo_file rw_fifo_file_perms;

# Run bins and start shells (bash).
corecmd_exec_all_executables(bats_t)
corecmd_exec_shell(bats_t)

# Bash does this.
fs_getattr_tmpfs(bats_t)

# Access to console, even inherited from init.
init_use_fds(bats_t)
term_use_console(bats_t)
#term_use_all_terms(bats_t)

# Log to syslog and grep in logs.
logging_send_syslog_msg(bats_t)
logging_read_generic_logs(bats_t)

# Send messages on DBus.
dbus_send_system_bus(bats_t)

# ps aux.
domain_read_all_domains_state(bats_t)
domain_getattr_all_domains(bats_t)

# Read sysctls (ps -e).
kernel_read_kernel_sysctls(bats_t)

# Use restorecon.
seutil_domtrans_setfiles(bats_t)

# Manage its tmp files
bats_manage_tmp_files(bats_t)

# Run xl.
xen_domtrans_xm(bats_t)

# Run xec/xec-vm
xec_domtrans(bats_t)

# Manage VM disk images.
xc_manage_client_disk_files(bats_t)

