## <summary>BATS, Bash Automated Testing System.</summary>

#######################################
## <summary>
##     Execute bats scripts in the bats_t domain.
## </summary>
## <param name="domain">
##     <summary>
##     The type of the process executing the utility.
##     </summary>
## </param>
#
interface(`bats_domtrans',`
	gen_require(`
		type bats_t, bats_exec_t;
	')

	domtrans_pattern($1, bats_exec_t, bats_t)
')


########################################
## <summary>
##      Manage BATS temporary files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`bats_manage_tmp_files',`
        gen_require(`
                type bats_tmp_t;
        ')

        allow $1 bats_tmp_t:file manage_file_perms;
')
