#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(tpmutil, 0.2)

########################################
#
# Declarations
#
type tpmutil_t;
type tpmutil_exec_t;
application_domain(tpmutil_t, tpmutil_exec_t)

type tpmutil_sa_t;
type tpmutil_sa_exec_t;
application_domain(tpmutil_sa_t, tpmutil_sa_exec_t)

type tpmutil_home_t;
files_poly_member(tpmutil_home_t)
userdom_user_home_content(tpmutil_home_t)
userdom_user_home_dir_filetrans(tpmutil_t, tpmutil_home_t, dir)

#######################################
#
# tpmutil local policy
#
allow tpmutil_t self:tcp_socket create_socket_perms;
allow tpmutil_t self:udp_socket create_socket_perms;

allow tpmutil_t tpmutil_home_t:dir manage_dir_perms;
allow tpmutil_t tpmutil_home_t:file manage_file_perms;

corenet_tcp_connect_generic_port(tpmutil_t)
corenet_tcp_connect_tcs_port(tpmutil_t)
dev_read_urand(tpmutil_t)
files_read_etc_files(tpmutil_t)
files_read_etc_runtime_files(tpmutil_t)
files_search_tmp(tpmutil_t)
seutil_use_newrole_fds(tpmutil_t)
sysnet_read_config(tpmutil_t)
statusreport_write_storage_files(tpmutil_t)
userdom_manage_user_home_content_files(tpmutil_t)
userdom_use_user_terminals(tpmutil_t)

gen_require(`
       type tcsd_var_lib_t, xc_config_key_t, unreserved_port_t, tpm_device_t, boot_t;
')
read_files_pattern(tpmutil_exec_t, xc_config_key_t, xc_config_key_t)
read_files_pattern(tpmutil_t, xc_config_key_t, xc_config_key_t)
manage_files_pattern(tpmutil_exec_t, tcsd_var_lib_t, tcsd_var_lib_t)
manage_files_pattern(tpmutil_t, tcsd_var_lib_t, tcsd_var_lib_t)
manage_files_pattern(tpmutil_exec_t, tpm_device_t, tpm_device_t)
manage_files_pattern(tpmutil_t, tpm_device_t, tpm_device_t)
allow tpmutil_t tpm_device_t:chr_file { read write open };
allow tpmutil_t boot_t:dir { search };
allow tpmutil_t self:capability dac_override;
allow tpmutil_t self:capability dac_read_search;
allow tpmutil_t unreserved_port_t:tcp_socket name_connect;
allow tpmutil_t unreserved_port_t:tcp_socket name_bind;
