#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(xec, 0.2)

########################################
#
# Declarations
#
type nilfcreate_t;
type nilfcreate_exec_t;
application_domain(nilfcreate_t, nilfcreate_exec_t)

type viptables_t;
type viptables_exec_t;
application_domain(viptables_t, viptables_exec_t)
role system_r types viptables_t;

type xec_t;
type xec_exec_t;
application_domain(xec_t, xec_exec_t)
role system_r types xec_t;

type xentop_t;
type xentop_exec_t;
application_domain(xentop_t, xentop_exec_t)

#######################################
#
# nilfcreate local policy
#
tapctl_domtrans(nilfcreate_t)
vhdutil_domtrans(nilfcreate_t)
xec_domtrans(nilfcreate_t)

optional_policy(`
	unconfined_domain(nilfcreate_t)
')

#######################################
#
# viptables local policy
#
allow viptables_t self: capability ipc_lock;

seutil_use_newrole_fds(viptables_t)
userdom_use_user_terminals(viptables_t)
xc_files_rw_argo_chr(viptables_t)

#######################################
#
# xec local policy
#
allow xec_t xec_exec_t:file execute_no_trans;
allow xec_t self:fifo_file rw_fifo_file_perms;

corecmd_exec_bin(xec_t)
dev_read_urand(xec_t)
logging_send_syslog_msg(xec_t)
miscfiles_read_localization(xec_t)
userdom_search_user_home_content(xec_t)
userdom_use_user_terminals(xec_t)
xc_search_client_disk_files(xec_t)

dbus_system_bus_client(xec_t)
dbd_dbus_chat(xec_t)
input_server_dbus_chat(xec_t)
xen_dbus_chat(xec_t)
network_daemon_dbus_chat(xec_t)

xen_use_fds(xec_t)
ssh_use_fds(xec_t)

seutil_use_newrole_fds(xec_t)
allow xec_t self:capability { dac_override dac_read_search };

# Generate data for statusreport
statusreport_write_storage_files(xec_t)
statusreport_getattr_storage_files(xec_t)

#######################################
#
# xentop local policy
#
dev_read_sysfs(xentop_t)
files_read_etc_files(xentop_t)
kernel_read_network_state(xentop_t)
fs_rw_xenfs_files(xentop_t)
miscfiles_read_localization(xentop_t)
seutil_use_newrole_fds(xentop_t)
userdom_search_user_home_content(xentop_t)
userdom_use_user_terminals(xentop_t)
xen_stream_connect_xenstore(xentop_t)

statusreport_write_storage_files(xentop_t)

allow xentop_t self:capability { dac_override ipc_lock };
