#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>XenClient administrative commands.</summary>

########################################
## <summary>
##	Execute nilfvm-create in the nilfcreate domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nilfcreate_domtrans',`
	gen_require(`
		type nilfcreate_t, nilfcreate_exec_t;
	')

	domtrans_pattern($1, nilfcreate_exec_t, nilfcreate_t)
')

########################################
## <summary>
##	Execute nilfvm-create in the nilfcreate domain and
##	allow the specified role in the nilfcreate domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the nilfcreate domain.
##	</summary>
## </param>
#
interface(`nilfcreate_run',`
	gen_require(`
		type nilfcreate_t;
	')

	nilfcreate_domtrans($1)
	role $2 types nilfcreate_t;
')

########################################
## <summary>
##	Execute viptables in the xec domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`viptables_domtrans',`
	gen_require(`
		type viptables_t, viptables_exec_t;
	')

	domtrans_pattern($1, viptables_exec_t, viptables_t)
')

########################################
## <summary>
##	Execute viptables in the viptables domain and
##      allow the specified role in the viptables domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the viptables domain.
##	</summary>
## </param>
#
interface(`viptables_run',`
	gen_require(`
		type viptables_t;
	')

        viptables_domtrans($1)
	role $2 types viptables_t;
')

########################################
## <summary>
##	Execute XenClient admin programs in the xec domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xec_domtrans',`
	gen_require(`
		type xec_t, xec_exec_t;
	')

	allow xec_t $1:fd use;
	domtrans_pattern($1, xec_exec_t, xec_t)
')

########################################
## <summary>
##	Execute XenClient admin programs in the xec domain and
##      allow the specified role in the xec domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the xec domain.
##	</summary>
## </param>
#
interface(`xec_run',`
	gen_require(`
		type xec_t;
	')

        xec_domtrans($1)
	role $2 types xec_t;
')
########################################
## <summary>
##	Execute xentop in the xentop domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`xentop_domtrans',`
	gen_require(`
		type xentop_t, xentop_exec_t;
	')

	domtrans_pattern($1, xentop_exec_t, xentop_t)
')
########################################
## <summary>
##	Execute xentop in the xentop domain and
##      allow the specified role in the xentop domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the xec domain.
##	</summary>
## </param>
#
interface(`xentop_run',`
	gen_require(`
		type xentop_t;
	')

        xentop_domtrans($1)
	role $2 types xentop_t;
')
