#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(pcm-config, 0.1)

########################################
#
# Declarations
#

type pcmconfig_t;
type pcmconfig_exec_t;
init_system_domain(pcmconfig_t, pcmconfig_exec_t)

type pcmconfig_tmp_t;
files_tmp_file(pcmconfig_tmp_t)
files_tmp_filetrans(pcmconfig_t, pcmconfig_tmp_t, file)

########################################
#
# Local Policy
#

alsa_manage_rw_config(pcmconfig_t)
corecmd_exec_bin(pcmconfig_t)
corecmd_exec_shell(pcmconfig_t)
db_cmd_domtrans(pcmconfig_t)
files_read_etc_files(pcmconfig_t)
fs_getattr_tmpfs(pcmconfig_t)
init_use_fds(pcmconfig_t)
kernel_read_system_state(pcmconfig_t)
term_use_console(pcmconfig_t)

allow pcmconfig_t pcmconfig_tmp_t:file { manage_file_perms };
allow pcmconfig_t self:fifo_file { manage_fifo_file_perms };

# Ignore CAP_SYS_TTY_CONFIG denial triggered by isatty(0) == ioctl(0, TCGETS);
# the operation will still succeed.  The capability is checked unconditionally
# by vt_ioctl() in the kernel even when it is not needed.
dontaudit pcmconfig_t self:capability sys_tty_config;
