#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(stubdom-helpers, 0.1)

########################################
#
# Declarations
#

# atapi helper
type atapi_helper_t;
domain_type(atapi_helper_t)
role system_r types atapi_helper_t;

type atapi_helper_exec_t;
domain_entry_file(atapi_helper_t, atapi_helper_exec_t);

type atapi_helper_tmpfs_t;
files_tmpfs_file(atapi_helper_tmpfs_t)
fs_tmpfs_filetrans(atapi_helper_t, atapi_helper_tmpfs_t, file)

type atapi_helper_lock_t;
files_lock_file(atapi_helper_lock_t)
files_lock_filetrans(atapi_helper_t, atapi_helper_lock_t, file)

# audio helper
type audio_helper_t;
domain_type(audio_helper_t)
role system_r types audio_helper_t;

type audio_helper_exec_t;
domain_entry_file(audio_helper_t, audio_helper_exec_t)

type audio_helper_tmp_t;
files_tmp_file(audio_helper_tmp_t)
files_tmp_filetrans(audio_helper_t, audio_helper_tmp_t, file)

type audio_helper_var_run_t;
files_pid_file(audio_helper_var_run_t)
files_pid_filetrans(audio_helper_t, audio_helper_var_run_t, file)

type audio_helper_tmpfs_t;
files_tmpfs_file(audio_helper_tmpfs_t)
fs_tmpfs_filetrans(audio_helper_t, audio_helper_tmpfs_t, file)

########################################
#
# Local Policy: atapi_helper
#
allow atapi_helper_t self:capability { ipc_lock sys_rawio };
allow atapi_helper_t atapi_helper_lock_t:file create_file_perms;
allow atapi_helper_t atapi_helper_tmpfs_t:file create_file_perms;

atapi_helper_rw_lock_files(atapi_helper_t)
atapi_helper_rw_tmpfs_files(atapi_helper_t)
fs_getattr_tmpfs(atapi_helper_t)
qemu_rw_lock_files(atapi_helper_t)
qemu_rw_tmpfs_files(atapi_helper_t)
storage_read_scsi_generic(atapi_helper_t)
storage_write_scsi_generic(atapi_helper_t)
xc_files_rw_v4v_chr(atapi_helper_t)
xen_dontaudit_rw_unix_stream_sockets(atapi_helper_t)
logging_send_syslog_msg(atapi_helper_t)
init_dontaudit_use_fds(atapi_helper_t)
xc_dontaudit_read_etc_files(atapi_helper_t)

########################################
#
# Local Policy: audio_helper
#
alsa_read_rw_config(audio_helper_t)
corecmd_exec_bin(audio_helper_t)
dev_read_sound(audio_helper_t)
dev_write_sound(audio_helper_t)
files_read_etc_files(audio_helper_t)
files_read_usr_files(audio_helper_t)
fs_getattr_tmpfs(audio_helper_t)
kernel_read_system_state(audio_helper_t)
xc_files_rw_v4v_chr(audio_helper_t)
xen_dontaudit_rw_unix_stream_sockets(audio_helper_t)
logging_send_syslog_msg(audio_helper_t)

# audio helper: allow to call db_read
corecmd_exec_shell(audio_helper_t)
db_cmd_exec(audio_helper_t)
dbd_dbus_chat(audio_helper_t)
dbus_connect_system_bus(audio_helper_t)
dbus_system_bus_client(audio_helper_t)

manage_files_pattern(audio_helper_t, audio_helper_tmp_t, audio_helper_tmp_t)
manage_files_pattern(audio_helper_t, audio_helper_tmpfs_t, audio_helper_tmpfs_t)
manage_files_pattern(audio_helper_t, audio_helper_var_run_t, audio_helper_var_run_t)
alsa_manage_tmp_files(audio_helper_t)

allow audio_helper_t audio_helper_exec_t:file exec_file_perms;
allow audio_helper_t self:capability ipc_lock;
allow audio_helper_t self:fifo_file rw_fifo_file_perms;
allow audio_helper_t self:sem create_sem_perms;
allow audio_helper_t self:shm create_shm_perms;

init_dontaudit_use_fds(audio_helper_t)
init_dontaudit_use_script_fds(audio_helper_t)
xc_dontaudit_read_etc_files(audio_helper_t)
