#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(vgmch, 0.1)

########################################
#
# Declarations
#

type vgmch_t;
type vgmch_exec_t;
init_daemon_domain(vgmch_t, vgmch_exec_t)

type vgmch_cache_t;
files_type(vgmch_cache_t)
files_var_filetrans(vgmch_t, vgmch_cache_t, file)

role system_r types vgmch_t;

#######################################
#
# vgmch Local Policy
#
dev_rw_sysfs(vgmch_t)
dev_search_sysfs(vgmch_t)
dev_read_raw_memory(vgmch_t)
dev_write_raw_memory(vgmch_t)
logging_send_syslog_msg(vgmch_t)

seutil_use_newrole_fds(vgmch_t)

# Generate data for statusreport 
statusreport_write_storage_files(vgmch_t)
statusreport_getattr_storage_files(vgmch_t)

allow vgmch_t self:capability { sys_admin sys_rawio };
allow vgmch_t self:unix_dgram_socket { connected_socket_perms rw_socket_perms };
allow vgmch_t vgmch_cache_t:file manage_file_perms;
