#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(db-cmd, 0.1)

########################################
#
# Declarations
#
type db_cmd_t;
type db_cmd_exec_t;
init_system_domain(db_cmd_t, db_cmd_exec_t)

#######################################
#
# DB Command Local Policy
#
corecmd_exec_shell(db_cmd_t)
corecmd_search_bin(db_cmd_t)
corecmd_exec_bin(db_cmd_t)
db_cmd_exec(db_cmd_t)
term_read_console(db_cmd_t)
term_write_console(db_cmd_t)
files_read_etc_files(db_cmd_t)
init_use_fds(db_cmd_t)
seutil_use_newrole_fds(db_cmd_t)
userdom_use_user_terminals(db_cmd_t)
userdom_getattr_user_home_dirs(db_cmd_t)
xc_files_rw_v4v_chr(db_cmd_t)
xc_search_client_disk_files(db_cmd_t)
sysnet_read_config(db_cmd_t)
networkmanager_read_lib_files(db_cmd_t)
fs_rw_xenfs_files(db_cmd_t)

kernel_read_system_state(db_cmd_t)
kernel_read_xen_state(db_cmd_t)
kernel_write_xen_state(db_cmd_t)

dbus_system_bus_client(db_cmd_t)
dbd_dbus_chat(db_cmd_t)

allow db_cmd_t self:netlink_route_socket rw_netlink_socket_perms;

optional_policy(`
	network_slave_use_fds(db_cmd_t)
	network_slave_rw_fifo_files(db_cmd_t)
	network_slave_rw_stream_sockets(db_cmd_t)
')

# Ignore CAP_IPC_LOCK denial triggered by mmap(MAP_LOCKED);
# the operation will still succeed.  See the following kernel commit:
# http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=a5a6579db33af91f4f5134e14be758dc71c1b694
dontaudit db_cmd_t self:capability ipc_lock;

# Ignore CAP_SYS_TTY_CONFIG denial triggered by isatty(0) == ioctl(0, TCGETS);
# the operation will still succeed.  The capability is checked unconditionally
# by vt_ioctl() in the kernel even when it is not needed.
dontaudit db_cmd_t self:capability sys_tty_config;
