#############################################################################
#
# Copyright (C) 2017 Assured Information Security
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(cdrom, 0.1)

########################################
#
# Declarations
#
type cdromd_t;
type cdromd_exec_t;
init_daemon_domain(cdromd_t,cdromd_exec_t)

type cdromc_t;
type cdromc_exec_t;
application_type(cdromc_t)
domain_entry_file(cdromc_t,cdromc_exec_t)
role system_r types cdromc_t;
xen_domtrans(cdromc_t,cdromc_exec_t)

type cdromd_etc_t;
files_config_file(cdromd_etc_t)

#######################################
#
# cdrom daemon local policy
#

# Do dbus
dbus_connect_system_bus(cdromd_t)
dbus_system_bus_client(cdromd_t)
# Talk to xenmgr
xen_dbus_chat(cdromd_t)

# Use xenstore
xen_stream_connect_xenstore(cdromd_t)

# Use tapdisk libs
tapdisk_list_control_dir(cdromd_t)
tapdisk_stream_connect(cdromd_t)
dev_list_sysfs(cdromd_t)
dev_read_sysfs(cdromd_t)
