#############################################################################
#
# Copyright (C) 2017 Assured Information Security
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>Policy for cdrom.</summary>

#######################################
## <summary>
##	Exchange messages with cdrom over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with cdrom over dbus.
##	</summary>
## </param>
#
interface(`cdromd_dbus_chat',`
	gen_require(`
		type cdromd_t;
		class dbus send_msg;
	')
	
	allow $1 cdromd_t:dbus	send_msg;
	allow cdromd_t $1:dbus	send_msg;
')

#######################################
## <summary>
##	Send messages to cdrom over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process sending messages.
##	</summary>
## </param>
#
interface(`cdromd_dbus_send',`
	gen_require(`
		type cdromd_t;
		class dbus send_msg;
	')
	
	allow $1 cdromd_t:dbus	send_msg;
')

#######################################
## <summary>
##    Read generic cdrom files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`cdromd_read_files',`
	gen_require(`
		type cdromd_t;
	')
	
        allow $1 cdromd_t:file read_file_perms;
')

#######################################
## <summary>
##    Read generic cdrom links.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`cdromd_read_links',`
	gen_require(`
		type cdromd_t;
	')
	
        allow $1 cdromd_t:lnk_file read_lnk_file_perms;
')

#######################################
## <summary>
##    Search generic cdrom directories.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`cdromd_search_dirs',`
	gen_require(`
		type cdromd_t;
	')
	
        allow $1 cdromd_t:dir search_dir_perms;
')

#######################################
## <summary>
##    Send signals to cdrom process.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`cdromd_signal',`
	gen_require(`
		type cdromd_t;
	')
	
        allow $1 cdromd_t:process signal_perms;
')

#######################################
## <summary>
##    Read cdrom configuration files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowd access.
##	</summary>
## </param>
#
interface(`cdromd_read_etc_files',`
	gen_require(`
		type cdromd_etc_t;
	')
	
        allow $1 cdromd_etc_t:file read_file_perms;
')
