#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(icbinn, 0.1)

########################################
#
# Declarations
#

type icbinn_svc_t;
type icbinn_svc_exec_t;
init_daemon_domain(icbinn_svc_t, icbinn_svc_exec_t)

type icbinn_ftp_t;
type icbinn_ftp_exec_t;
init_daemon_domain(icbinn_ftp_t, icbinn_ftp_exec_t)

################################
#
#  Permissions for icbinn_svc
#

dbus_system_bus_client(icbinn_svc_t)
xen_dbus_chat(icbinn_svc_t)

dev_search_sysfs(icbinn_svc_t)
kernel_read_system_state(icbinn_svc_t)
logging_send_syslog_msg(icbinn_svc_t)
miscfiles_read_localization(icbinn_svc_t)
xc_config_dir_search(icbinn_svc_t)
xc_files_rw_v4v_chr(icbinn_svc_t)
xc_search_storage(icbinn_svc_t)
xc_manage_sync_client_disk_files(icbinn_svc_t)
xc_create_sync_disks_dir(icbinn_svc_t)
xc_manage_sync_client_config_files(icbinn_svc_t)
xc_manage_sync_client_config_dirs(icbinn_svc_t)
dev_read_urand(icbinn_svc_t)
dev_read_rand(icbinn_svc_t)
networkmanager_read_cert_files(icbinn_svc_t)
networkmanager_create_cert_files(icbinn_svc_t)
networkmanager_manage_cert_dirs(icbinn_svc_t)
updatemgr_manage_sync_client_storage_files(icbinn_svc_t)

allow icbinn_svc_t self:unix_dgram_socket create_socket_perms;
allow icbinn_svc_t self:process { getsched };
allow icbinn_svc_t self:capability sys_chroot;

################################
#
#  Permissions for icbinn_ftp
#

xc_files_rw_v4v_chr(icbinn_ftp_t)
seutil_use_newrole_fds(icbinn_ftp_t)
networkmanager_var_lib_filetrans(icbinn_ftp_t, NetworkManager_cert_t, file)
files_search_var_lib(icbinn_ftp_t)
networkmanager_create_cert_files(icbinn_ftp_t)
