#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>rpc-proxy daemon</summary>

#######################################
## <summary>
##	Exchange messages with base rpcproxy instance over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with rpc-proxy over dbus.
##	</summary>
## </param>
#
interface(`rpcproxy_dbus_chat',`
	gen_require(`
		type rpcproxy_t;
		class dbus send_msg;
	')

	allow $1 rpcproxy_t:dbus	send_msg;
	allow rpcproxy_t $1:dbus	send_msg;
')

#######################################
## <summary>
##	Exchange messages with rpcproxy websockets instance over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with rpc-proxy over dbus.
##	</summary>
## </param>
#
interface(`rpcproxy_websockets_dbus_chat',`
	gen_require(`
		type rpcproxy_websockets_t;
		class dbus send_msg;
	')

	allow $1 rpcproxy_websockets_t:dbus	send_msg;
	allow rpcproxy_websockets_t $1:dbus	send_msg;
')
