#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>XenClient network daemon.</summary>

########################################
## <summary>
##	Do not audit attempts to read and write updatemgr
##	unix domain stream sockets.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_dontaudit_rw_stream_sockets',`
	gen_require(`
		type updatemgr_t;
	')

	dontaudit $1 updatemgr_t:unix_stream_socket rw_stream_socket_perms;
')
########################################
## <summary>
##	Do not audit attempts to read and write updatemgr
##	fifo_files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_dontaudit_rw_fifo_files',`
	gen_require(`
		type updatemgr_t;
	')

	dontaudit $1 updatemgr_t:fifo_file rw_fifo_file_perms;
')
########################################
## <summary>
##	Do not audit attempts to read and write updatemgr
##	fifo_files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_dontaudit_use_fd',`
	gen_require(`
		type updatemgr_t;
	')

	dontaudit $1 updatemgr_t:fd use;
')
########################################
## <summary>
##	Execute an update script in the callers domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_exec_update',`
	gen_require(`
		type updatemgr_storage_t;
	')

	can_exec($1, updatemgr_storage_t)
')
########################################
## <summary>
##	Search through the updatemgr storage directory.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_search_storage',`
	gen_require(`
		type updatemgr_storage_t;
	')

	allow $1 updatemgr_storage_t:dir search_dir_perms;
')
########################################
## <summary>
##	Dontaudit search through the updatemgr storage directory.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_dontaudit_search_storage',`
	gen_require(`
		type updatemgr_storage_t;
	')

	dontaudit $1 updatemgr_storage_t:dir search_dir_perms;
')
########################################
## <summary>
##	Create an object in the XC updatemgr directory with a private type.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="private type">
##	<summary>
##	The type of the object to be created.
##	</summary>
## </param>
## <param name="object">
##	<summary>
##	The object class of the object being created.
##	</summary>
## </param>
#
interface(`updatemgr_storage_filetrans',`
	gen_require(`
		type updatemgr_storage_t;
	')

	filetrans_pattern($1, updatemgr_storage_t, $2, $3)
')
########################################
## <summary>
##	Relabel the upgrade files downloaded by the updatemgr.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`updatemgr_relabel_storage',`
	gen_require(`
		type updatemgr_storage_t;
	')

	relabel_dirs_pattern($1, updatemgr_storage_t, updatemgr_storage_t)
	relabel_files_pattern($1, updatemgr_storage_t, updatemgr_storage_t)
')

########################################
## <summary>
##      Search in the sync client updatemgr storage directory.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`updatemgr_search_sync_client_storage_files',`
        gen_require(`
                type updatemgr_storage_t, updatemgr_sync_client_storage_t;
        ')

        search_dirs_pattern($1, updatemgr_storage_t, updatemgr_sync_client_storage_t)
')

########################################
## <summary>
##      Manage sync client updatemgr storage files.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`updatemgr_manage_sync_client_storage_files',`
        gen_require(`
                type updatemgr_sync_client_storage_t;
        ')

        updatemgr_search_sync_client_storage_files($1)
        manage_files_pattern($1, updatemgr_sync_client_storage_t, updatemgr_sync_client_storage_t)
')


#######################################
## <summary>
##	Exchange messages with updatemgr over dbus.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process chatting with uid over dbus.
##	</summary>
## </param>
#
interface(`updatemgr_dbus_chat',`
	gen_require(`
		type updatemgr_t;
		class dbus send_msg;
	')
	
	allow $1 updatemgr_t:dbus	send_msg;
	allow updatemgr_t $1:dbus	send_msg;
')
