#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

policy_module(surfman, 0.1)

type surfman_t;
type surfman_exec_t;

type surfman_conf_t;
files_type(surfman_conf_t)

init_daemon_domain(surfman_t, surfman_exec_t)

type surfman_var_run_t;
files_pid_file(surfman_var_run_t)
files_pid_filetrans(surfman_t, surfman_var_run_t, { file sock_file })

type surfman_var_cache_t;
files_pid_file(surfman_var_cache_t)
files_var_filetrans(surfman_t, surfman_var_cache_t, file);
allow surfman_t surfman_var_cache_t:file manage_file_perms;
vgmch_read_cache_files(surfman_t)

libs_use_ld_so(surfman_t)

dbus_connect_system_bus(surfman_t)
dbus_system_bus_client(surfman_t)
rpcproxy_dbus_chat(surfman_t)

fs_rw_xenfs_files(surfman_t)
dev_rw_framebuffer(surfman_t)
dev_rw_dri(surfman_t)
dev_rw_sysfs(surfman_t)
dev_rw_xen(surfman_t)
kernel_read_system_state(surfman_t)
logging_send_syslog_msg(surfman_t)
xen_stream_connect_xenstore(surfman_t)  # /var/run/xenstored/socket
allow surfman_t usr_t:lnk_file read;
files_read_usr_files(surfman_t)
files_read_etc_files(surfman_t)
files_search_tmp(surfman_t)

language_sync_read_conf_symlinks(surfman_t)
xc_read_config_symlinks(surfman_t)
xc_files_rw_v4v_chr(surfman_t)
xc_rw_fbtap_device(surfman_t)

# Permissions to generate statusreport data
statusreport_manage_tmp_dir(surfman_t)
statusreport_write_tmp_files(surfman_t)
statusreport_create_tmp_files(surfman_t)

# Permissions to generate core dumps
files_create_core_dump(surfman_t)

# allow reading of own configuration file(s)
allow surfman_t surfman_conf_t:file read_file_perms;

# needed for ioctl on /dev/dri/card0, possibly others.
allow surfman_t	self:capability	sys_admin;

allow surfman_t self:unix_dgram_socket create_socket_perms;
allow surfman_t self:fifo_file rw_fifo_file_perms;
allow surfman_t self:process signal;
allow surfman_t self:netlink_kobject_uevent_socket create_socket_perms;

allow surfman_t surfman_var_run_t:file manage_file_perms;
allow surfman_t surfman_var_run_t:sock_file manage_sock_file_perms;

udev_read_db(surfman_t)
udev_read_pid_files(surfman_t)
