SUBSYSTEM!="input", GOTO="qubes_input_proxy_end"

# skip platform devices present in HVM guests
ENV{ID_BUS}=="i8042", GOTO="qubes_input_proxy_end"
ENV{ID_PATH}=="acpi-*", GOTO="qubes_input_proxy_end"
ENV{ID_PATH}=="platform-*", GOTO="qubes_input_proxy_end"
ENV{ID_MODEL}=="QEMU_USB_Tablet", GOTO="qubes_input_proxy_end"

KERNEL=="event*", ACTION=="add", ENV{ID_INPUT_TABLET}=="1", ENV{ID_INPUT_KEY}!="1", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"
KERNEL=="event*", ACTION=="add", ENV{ID_INPUT_TOUCHSCREEN}=="1", ENV{ID_INPUT_KEY}!="1", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"
#KERNEL=="event*", ACTION=="remove", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"

KERNEL=="event*", ACTION=="add", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_INPUT_KEY}!="1", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"
#KERNEL=="event*", ACTION=="remove", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"

KERNEL=="event*", ACTION=="add", ENV{ID_INPUT_KEY}=="1", ENV{ID_INPUT_MOUSE}!="1", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"
#KERNEL=="event*", ACTION=="remove", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"

KERNEL=="event*", ACTION=="add", ENV{ID_INPUT_KEY}=="1", ENV{ID_INPUT_MOUSE}=="1", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"
#KERNEL=="event*", ACTION=="remove", RUN+="/sbin/start-stop-daemon --start --background --exec /usr/bin/argo-input-sender -- %k"

LABEL="qubes_input_proxy_end"
