menuentry --hotkey=i 'OpenXT Install' {
    set background_color=black
    multiboot2 /isolinux/xen.gz placeholder flask=disabled console=com1 com1=115200,8n1,pci mbi-video vga=current loglvl=debug guest_loglvl=debug sync_console
    module2    /isolinux/vmlinuz placeholder quiet root=/dev/ram rw start_install=new eject_cdrom=1 answerfile=/install/answers/uefi.ans console=/dev/tty2 selinux=0
    module2    /isolinux/rootfs.gz
}
menuentry --hotkey=v 'OpenXT Install (verbose)' {
    set background_color=black
    multiboot2 /isolinux/xen.gz placeholder flask=disabled console=com1 com1=115200,8n1,pci mbi-video vga=current loglvl=debug guest_loglvl=debug sync_console
    module2    /isolinux/vmlinuz placeholder splash root=/dev/ram rw start_install=new eject_cdrom=1 answerfile=/install/answers/uefi.ans console=/dev/tty2 selinux=0
    module2    /isolinux/rootfs.gz
}
menuentry --hotkey=a 'OpenXT Install (automatic)' {
    set background_color=black
    multiboot2 /isolinux/xen.gz placeholder flask=disabled console=com1 com1=115200,8n1,pci mbi-video vga=current loglvl=debug guest_loglvl=debug sync_console
    module2    /isolinux/vmlinuz placeholder quiet root=/dev/ram rw start_install=new eject_cdrom=1 answerfile=/install/answers/auto-cd.ans console=hvc0 console=/dev/tty2 selinux=0
    module2    /isolinux/rootfs.gz
}
