#############################################################################
#
# Copyright (C) 2014 Citrix Systems, Inc.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
#
#############################################################################

## <summary>input-server daemon</summary>                                      

#######################################
## <summary>
##     Exchange messages with input-server over dbus.
## </summary>
## <param name="domain">
##     <summary>
##     The type of the process chatting with input server over dbus.
##     </summary>
## </param>
#
interface(`input_server_dbus_chat',`
	gen_require(`
		type input_server_t;
		class dbus send_msg;
	')
	
	allow $1 input_server_t:dbus	send_msg;
	allow input_server_t $1:dbus	send_msg;
')
#######################################
## <summary>
##	Connect to the inputserver stream socket.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process connecting.
##	</summary>
## </param>
#
interface(`input_server_stream_connect',`
	gen_require(`
		type input_server_t, input_server_tmp_t;
	')

	files_search_tmp($1)
	stream_connect_pattern($1, input_server_tmp_t, input_server_tmp_t, input_server_t)
')
#######################################
## <summary>
##	Connect to the inputserver plugin stream socket.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process connecting.
##	</summary>
## </param>
#
interface(`input_server_plugin_connect',`
	gen_require(`
		type input_server_t, input_server_var_run_t;
	')

	files_search_pid($1)
	stream_connect_pattern($1, input_server_var_run_t, input_server_var_run_t, input_server_t)
')
#######################################
## <summary>
##	Connect to the inputserver stream socket.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process connecting.
##	</summary>
## </param>
#
interface(`input_server_write_tmp_files',`
	gen_require(`
		type input_server_tmp_t;
	')

	files_search_tmp($1)
	write_files_pattern($1, input_server_tmp_t, input_server_tmp_t)
')
#######################################
## <summary>
##	Inherit and use file descriptor from input-server
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process connecting.
##	</summary>
## </param>
#
interface(`input_server_rw_stream',`
	gen_require(`
		type input_server_t;
	')

	allow $1 input_server_t:unix_stream_socket { read write };
')

#######################################
## <summary>
##	Read input-server config files
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process connecting.
##	</summary>
## </param>
#
interface(`input_server_read_config',`
	gen_require(`
		type input_server_config_t;
	')

	allow $1 input_server_config_t:file read_file_perms;
')
