# Avocent SC Secure KVM.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0624", ATTR{idProduct}=="0013", TEST=="power/control", ATTR{power/control}="on"
