# Runs a script that disables autosuspend for Avocent SC Secure KVM.
# It would be better to write to the "power/control" attribute directly, but
# there is no guarantee that it will exist at the time this rule is triggered.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0624", ATTR{idProduct}=="0013", RUN+="/usr/bin/no-kvm-autosuspend.sh"
